    html {
        min-height: 100%;
        background-image: url(../img/47391.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
    }

    header h1 {
        margin: 0;
    }

    main {
        padding: 20px;
    }

    section {
        margin-bottom: 40px;
    }

    section h2 {
        color: #ffffff;
    }

    section p {
        margin-bottom: 10px;
    }

    section ul {
        margin-bottom: 10px;
    }

    section img {
        max-width: 100%;
        display: block;
        margin-top: 20px;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    p {
        margin: 0;
        padding: 10px;
        color: #ffffff;
        font-size: 20px;
    }

    .o-que {
        background-color: #fff;
        text-align: center;
    }

    .o-que p {
        color: #333;
    }

    .txt-1 h1 {
        text-align: center;
    }